.idea
.vagrant/
vendor/



#Magento Core Ignore

.modgit/
magento/app/code/community/Find/
magento/app/code/community/Phoenix/
magento/app/code/core/
magento/app/design/adminhtml/default/default/
magento/app/design/adminhtml/default/find/
magento/app/design/frontend/base/
magento/app/design/frontend/default/blank/
magento/app/design/frontend/default/default/
magento/app/design/frontend/default/iphone/
magento/app/design/frontend/default/modern/
magento/app/design/frontend/enterprise/default
magento/app/design/install/
magento/app/etc/modules/Enterprise_*
magento/app/etc/modules/Find_Feed.xml
magento/app/etc/modules/Mage_All.xml
magento/app/etc/modules/Mage_Api.xml
magento/app/etc/modules/Mage_Authorizenet.xml
magento/app/etc/modules/Mage_Bundle.xml
magento/app/etc/modules/Mage_Centinel.xml
magento/app/etc/modules/Mage_Compiler.xml
magento/app/etc/modules/Mage_Connect.xml
magento/app/etc/modules/Mage_Downloadable.xml
magento/app/etc/modules/Mage_ImportExport.xml
magento/app/etc/modules/Mage_LoadTest.xml
magento/app/etc/modules/Mage_PageCache.xml
magento/app/etc/modules/Mage_Persistent.xml
magento/app/etc/modules/Mage_Weee.xml
magento/app/etc/modules/Mage_Widget.xml
magento/app/etc/modules/Mage_XmlConnect.xml
magento/app/etc/modules/Phoenix_Moneybookers.xml
magento/app/etc/config.xml
magento/app/etc/enterprise.xml
magento/app/etc/local.xml.additional
magento/app/etc/local.xml.template
magento/app/.htaccess
magento/app/locale/
magento/app/Mage.php
magento/cron.php
magento/cron.sh
magento/downloader/
magento/errors/
magento/favicon.ico
magento/get.php
magento/includes/
magento/index.php
magent/index.php.sample
magent/install.php
magent/js/blank.html
magent/js/calendar/
magent/js/enterprise/
magent/js/extjs/
magent/js/firebug/
magent/js/flash/
magent/js/index.php
magent/js/jscolor/
magent/js/lib/
magent/js/mage/
magent/js/prototype/
magent/js/scriptaculous/
magent/js/spacer.gif
magent/js/tiny_mce/
magent/js/varien/
magent/lib/3Dsecure/
magent/lib/Apache/
magent/lib/flex/
magent/lib/googlecheckout/
magent/lib/.htaccess
magent/lib/LinLibertineFont/
magent/lib/Mage/
magent/lib/PEAR/
magent/lib/phpseclib/
magent/lib/Varien/
magent/lib/Zend/
magent/LICENSE_AFL.txt
magent/LICENSE.html
magent/LICENSE.txt
magent/LICENSE_EE*
magent/mage
magent/media/customer/
magent/media/downloadable/
magent/media/.htaccess
magent/media/import/
magent/media/xmlconnect/
magent/nbproject/
magent/pear
magent/pear/
magent/php.ini.sample
magent/pkginfo/
magent/RELEASE_NOTES.txt
magent/shell/abstract.php
magent/shell/compiler.php
magent/shell/indexer.php
magent/shell/log.php
magent/skin/adminhtml/default/default/
magent/skin/adminhtml/default/enterprise
magent/skin/frontend/base/
magent/skin/frontend/default/blank/
magent/skin/frontend/default/blue/
magent/skin/frontend/default/default/
magent/skin/frontend/default/french/
magent/skin/frontend/default/german/
magent/skin/frontend/default/iphone/
magent/skin/frontend/default/modern/
magent/skin/frontend/enterprise
magent/skin/install/
magent/var/



